.all-products{
  grid-column: 2/5;
}
.all-products .row{
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0;
}
.all-products .card{
  min-width: 15rem;
  max-width: 20rem; 
}
@media (max-width: 1024px) {
  .all-products {
    grid-column: 1/-1;
  }
  .all-products .row{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .all-products .row{
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
} 
@media (max-width: 700px) {
  .all-products .row{
    grid-template-columns: repeat(1, 1fr);
  }
}