.brands .row{
  width: 65%;
  margin: auto;
}
.brands .card{
  flex-basis: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card span{
  cursor: pointer;
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .brands .row{
    width: 95%;
  }
}