header{
  position: fixed;
  background-color: var(--primary-2);
  top: 0;
  left: 7%;
  right: 7%;
}
nav{
  padding: 0.35rem 1rem;
  margin-top: 1rem;
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation{
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.system-nav{
  border: 1px solid var(--secondary-2);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.35rem;
  font-size: 1.05rem;
}
.nav-links a{
  font-weight: 400;
  margin-right: 0.6rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
}
header h4{
  font-size: 1.85rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
}
.nav-cart{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon-like{
  font-size: 1.25rem;
}
.nav-cart .cart-icon span{
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}
.cart-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}
.nav-cart .cart-icon .amount{
  border: 1px solid var(--secondary-2);
  border-radius: 45%;
  padding: 0.45rem;
  font-size: 0.85rem;
}