.hero-article{
  padding-top: 6rem;
}
article .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article .header h2{
  font-size: 2.75rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}
article .header button{
  background-color: transparent;
  border: 1px solid var(--secondary);
  padding: 0.35rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: 300;
  font-size: 0.85rem;
  font-family: 'Work Sans', sans-serif;
}
article .hero-image{
  width: 92%;
  margin: 1rem auto;
}
article .hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
