@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --primary: #111;
  --primary-2: #1e1e1e;
  --secondary: #fff;
  --secondary-2: #f1f3f5;
  --hover: hsla(0, 0%, 100%, .075);
  --hover-1: hsla(0, 0%, 100%, .15);
  --hover-2: hsla(0, 0%, 100%, .25);
  --selection: var(--purple);
  --text-base: #fff;
  --text-primary: #fff;
  --text-secondary: #000;
  --purple: #f81ce5;
  --cyan: #22b8cf;
  --red: #ff0000;
  --green: #09f309;
  --mainTransition: all 0.3s linear;
  --lightSpacing: 0.25rem;
  --mainSpacing: 0.35rem;
  color-scheme: dark;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
html{
  font-size: 95%;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  overscroll-behavior-x: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  background-color: var(--primary-2);
  color: var(--text-base);
}
section{
  padding: 2.5rem 0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-base)
}
h2{
  font-family: 'Anton', sans-serif;
}
article{
  padding: 2.5rem 7%;
}
.title{
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 3px;
}
.container{
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
  margin: 1.5rem 0;
}
.row{
  margin: 0.5rem auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.card{
  flex-basis: 20rem;
  border-left: 1px solid var(--secondary);
}
.card:last-of-type{
  border-right: 1px solid var(--secondary);
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem;
}
.btn{
  border: 1px solid var(--secondary);
  background: transparent;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: var(--mainSpacing);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --primary: #fff;
    --primary-2: #f1f3f5;
    --secondary: #000;
    --secondary-2: #111;
    --selection: var(--cyan);
    --text-base: #000;
    --text-primary: #000;
    --text-secondary: #fff;
    --hover: rgba(0, 0, 0, .075);
    --hover-1: rgba(0, 0, 0, .15);
    --hover-2: rgba(0, 0, 0, .25);
  }
}
