.featured-article .card{
  flex-basis: 19rem;
}
.collections-desc{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collections-desc h5{
  font-size: 1.45rem;
  font-weight: 500;
  letter-spacing: var(--lightSpacing);
  text-transform: capitalize;
}
.collections-desc h6{
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--green);
  letter-spacing: var(--lightSpacing);
}
