.featured-article .row{
  padding: 1.5rem 0;
  gap: 1rem;
}
.featured-article .box{
  flex-basis: 24rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 300ms;
}
.featured-article .box:hover{
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.featured-article .box .box-image{
  padding: 1rem;
  width: 100%;
  height: 16rem;
}
.featured-article .box .box-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}
.collections-desc{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collections-desc h5{
  font-size: 1.45rem;
  font-weight: 500;
  letter-spacing: var(--lightSpacing);
  text-transform: capitalize;
}
.collections-desc h6{
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--green);
  letter-spacing: var(--lightSpacing);
}
